<nav class="sidebar">
    <ul>
        <li><a href="/tracking">Tracking</a></li>
        <li><a href="/analytics">Anaytics</a></li>
    </ul>
    <p>Welcome, <%- user %></p>
    <a href="/logout">Log out</a>
</nav>
